@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pierre's Treats</h1>
    <img id = "photo" src = https://static.cms.yp.ca/ecms/media/1/iStock_000014488057_Medium-1427731376-600x360.jpg>
    <p>Welcome to Pierre's Treats</a>.</p>
</div>

<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
