@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pierre's Treats</h1>
    <img id = "photo" src = https://static.cms.yp.ca/ecms/media/1/iStock_000014488057_Medium-1427731376-600x360.jpg>
    <p>Here at Pierre Bakery we serve our customers the best bakery goods. We have some Recent good new as we are expanding our flavor profile and including more then just sweet treats. you will get those savory treats, those spicy treats and a whole lot more. please support us today. Register for a customer profile today to be able to make an order and see what we currently have. We can not wait to make for you your favorite foods today. Have a great and wonderful day. 
        <br>
        Thank you,
        <br>
        Pierre
    </p>
</div>

<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
