@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pierre's Treats</h1>
    <p>Welcome to Pierre's Treats</a>.</p>
</div>

<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
