@{
  Layout = "_Layout";
}
@model PierreTreats.Models.Treat
@Html.ActionLink(" All Treats", "Index", null, null, new { @class="btn btn-info fa fa-user-md" })
<h2>Add invetory of Treat</h2>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.Label("Select Treat")</td>
      <td>@Html.DropDownList("TreatId")</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-info fa "><i class="fa-user-plus"> Save</i></button>
}