@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Treat
@Html.ActionLink(" All Treat", "Index", null, null, new { @class="btn btn-info fa fa-user" })
<h4>Add Book</h4>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.Name)</td>
      <td>@Html.TextBoxFor(model => model.Name)</td>
    </tr> 
  </table>
  <button type="submit" class="btn btn-default fa" ><i class="fa-user-plus"> Add Flavor</i></button>
}